.env

/.bundle

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

/storage/*
!/storage/.keep
.byebug_history

# master key Multi envに対応
/config/**/*.key
/config/master.key
